django==4.2.1
mutagen==1.46.0
deepl
python-dotenv
openai
pydub
djangorestframework
django-rest-swagger
drf-yasg
django-cors-headers
moviepy
google-cloud-storage
django-storages
dj-rest-auth
dj-rest-auth[with_social]
django-allauth
djangorestframework-simplejw
google-api-core==2.11.1
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-storage==1.19.1
google-crc32c==1.1.2
google-resumable-media==2.0.2
googleapis-common-protos==1.54.0
