<!DOCTYPE html>
<html>
  <head>
    <title>任務狀態</title>
  </head>
  <body>
    <form id="statusForm">
      <input type="text" name="email" placeholder="請輸入帳號或使用者名稱" />
      <button type="submit">提交</button>
    </form>
    <div id="statusContainer"></div>

    <script>
      const form = document.getElementById("statusForm");
      const statusContainer = document.getElementById("statusContainer");

      form.addEventListener("submit", function (event) {
        event.preventDefault();
        const email = form.elements.email.value;
        getStatus(email);
      });

      function getStatus(email) {
        fetch("/api/tasks/?email=" + email)
          .then((response) => response.json())
          .then((data) => {
            if (data.length > 0) {
              const statuses = data.map((task) => task.status);
              statusContainer.innerHTML = `
                <h2>使用者名稱: ${email}</h2>
                <h2>任務狀態:</h2>
                <ul>
                  ${statuses.map((status) => `<li>${status}</li>`).join("")}
                </ul>
              `;
            } else {
              statusContainer.innerHTML = `
                <h2>使用者名稱: ${email}</h2>
                <h2>任務狀態: 使用者沒有任務</h2>
              `;
            }
          })
          .catch((error) => {
            console.error(error);
            statusContainer.innerHTML = "無法獲取任務狀態";
          });
      }
    </script>
  </body>
</html>
